iframe {
  display: block;
  background: #000;
  border: none;
  height: 100vh;
  width: 100vw;
  margin-top: 0;
}

p#about {
  text-align: justify;
  padding-left: 4%;
  padding-right: 4%;
  font-size: 27px;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

iframe {
  padding-top: 0;
}

#map {
  padding: 0;
}

#aboutitle {
  padding-bottom: 4%;
}

section li {
  font-size: 25px;
  padding: 2%;
  padding-top: 0;
  list-style-type: none;
}

#after {
  background-color: rgb(193,218,222);
}

#during {
  background-color: rgb(220,240,186);
}

#before {
  background-color: rgb(240,228,184);
  padding-top: 5%;
}

#precautiontitle {
  padding-top: 5%;
  margin-bottom: 0;
  background-color: rgb(240,228,184);
}

#precautions {
  padding-top: 0;
  padding-bottom: 0;
}

.text-left {
  padding-left: 5%;
  padding-bottom: 3%;
}

#resources {
  padding-top: 0;
}

#resourcetitle {
  padding-top: 5%;
  padding-bottom: 5%;
}

#resource li {
  list-style-type: none;
  text-align: justify;
}

.fas.fa-mouse-pointer {
  padding-right: 5%;
}

#services {
  background-color: rgb(239,246,199);
}

#headertext {
  color: rgba(7,8,19,0.8);
}

footer {
  background-color: rgb(0,0,0);
}

footer span.copyright, footer ul.quicklinks {
  color: white;
}

